.tentangKami-container .bottom-container {
    margin:2.6vw 0 3.6vw 0;
}

.tentangKami-container .bottom-container .title-bottom {
    text-align: center;
    color: #008F42;
    margin: 0 0 1vw 0;
}

.tentangKami-container .bottom-container .card-wrapper {
    display:flex;
    justify-content: space-around;
}

.tentangKami-container .bottom-container .card-wrapper .card{
    background-color: white;
    width: 14.33vw;
    min-height : 16.15vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px #888888;
    color: #008F42;
    transition: transform 0.5s;
}

.tentangKami-container .bottom-container .card-wrapper .card:hover{
    transform: scale(1.2);
}

.tentangKami-container .bottom-container .card-wrapper .card img{
    width:12vw ;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    max-height: 7.9vw;
}

.tentangKami-container .bottom-container .card-wrapper .card h1{
    text-align: center;
    font-size: 0.83vw;
    width:10.1vw;
    margin:3vw auto 0 auto;
    padding: 0 0 2vw 0;
}

@media (max-width: 600px) { 
    .tentangKami-container .bottom-container .card-wrapper {
        display:block;
    }

    .tentangKami-container .bottom-container .card-wrapper .card{
        width: 40vw;
        min-height : 45vw;
        margin: 5vw auto;
        box-shadow: 0px 0px 5px 0px #888888;
    }

    .tentangKami-container .bottom-container .card-wrapper .card img{
        width:35vw;
        max-height: 30vw;
        min-height: 30vw;
    }
    
    .tentangKami-container .bottom-container .card-wrapper .card h1{
        text-align: center;
        font-size: 2.5vw;
        width:35vw;
    }

    .tentangKami-container .bottom-container .card-wrapper .card:hover{
        transform: scale(1.05);
    }
}