.footer-container .right-container h1{
    font-size: 1.66vw;
}

.footer-container .right-container label{
    font-size: 0.9vw;
}

.footer-container .right-container input{
}

.footer-container .right-container input{
    border-radius: 0.41vw;
    border-style: none;
    border:none;
    outline-style: none;
    font-size: 0.83vw;
    padding: 0.5vw;
    width: 100%;
}

.footer-container .right-container .nama, .footer-container .right-container .email-class,.footer-container .right-container .subject-class,.footer-container .right-container .pesan-class{
    /* float: inline-start; */
    /* margin:  0.5vw; */
}

.footer-container .right-container .nama{
    /* width: 26.7vw; */
}

.footer-container .right-container .nama .nama-depan-class{
    /* margin-right: 1vw; */
}


.footer-container .right-container .nama input{
    font-size: 0.83vw;
}

.footer-container .right-container .submit {
    background-color: black;
    color: white;
    font-size: 0.73vw;
    width: 10.9vw;
    height:2.76vw;
    border-radius: 0.41vw;
    border:none;
    margin: 1vw 0 0 0;
    cursor: pointer;
}

@media (max-width: 767px) {
    .footer-container .right-container h1{
        font-size: 5vw;
    }
    
    .footer-container .right-container label{
        font-size: 2vw;
    }
    
    .footer-container .right-container input{
        height: 5vw;
        font-size: 2.5vw;
    }
    
    .footer-container .right-container .submit {
        font-size: 2vw;
        width: 20vw;
        height:5vw;
        margin: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 5vw  0 0 0;
    }

}