.footer-container {
    background: linear-gradient(180deg, rgba(0, 163, 75, 0.88) 0%, rgba(0, 103, 47, 0.77) 100%);
    width: 100%;
    color: white;
    padding: 0 0 3vw 0;
    overflow: hidden;
}

.footer-container .left-container {
    padding: 3.96vw 0 0;
}

.footer-container .left-container .title-footer{
    font-size: 1.66vw;
}

.footer-container .left-container a {
    display: block;
    padding: 0.5vw 0 0 0 ;
    font-size:1.25vw;
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer-container .right-container {
    padding: 3.96vw 0 2vw 0;
}

@media (max-width: 767px) {
    .footer-container .left-container .title-footer{
        font-size: 3.2vw;
    }
    .footer-container .left-container a {
        padding: 2vw 0;
        font-size:2.5vw;
    }
}