.footer-container {
    background: linear-gradient(180deg, rgba(0, 163, 75, 0.88) 0%, rgba(0, 103, 47, 0.77) 100%);
    margin: -2vw 0;
    display: flex;
    float: left;
    width: 100%;
    justify-content: space-around;
    color: white;
    padding: 0 0 3vw 0;
    overflow: hidden;
}

.footer-container .left-container {
    width: 19vw;
    padding: 3.96vw 0 0 10vw;
}

.footer-container .left-container .title-footer{
    width: max-content;
    font-size: 1.66vw;
}

.footer-container .left-container li {
    padding: 0.5vw 0 0 0 ;
    list-style: none;
    font-size:1.25vw ;
}

.footer-container .right-container {
    padding: 3.96vw 0 0 0;
    width: 55.54vw;
    float:left;
}



@media (max-width: 600px) {
    .footer-container {
        display: block;
    }

    .footer-container .left-container {
        width: 100vw;
        padding: 5vw 0;
        text-align: center;
    }

    .footer-container .left-container .title-footer{
        width: 100vw;
        font-size:5vw;
    }

    .footer-container .left-container li {
        padding: 2vw 0;
        font-size:2.5vw;
    }

    .footer-container .right-container {
        padding: 0;
        width: 80vw;
        float:none;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        
    }
}